<div class="card">
<h5 class="card-header">アカウント新規登録></h5>
<div class="card-body">
<%= form_with model: @user, url: signup_path, local: true do |f| %>
  <% render 'layouts/error_messages', model: f.object %> 
  <%= f.label :email, User.human_attribute_name(:email) %>
  <%= f.text_field :email, { class: 'form-control' } %>
  <%= f.label :login_id, User.human_attribute_name(:login_id) %>
  <%= f.text_field :login_id, { class: 'form-control' } %>
  <%= f.label :password, User.human_attribute_name(:password) %>
  <%= f.password_field :password, { class: 'form-control' } %>
  <%= f.submit 'アカウント作成', class: 'btn btn-primary' %>
  <% end %>

<div class="card-footer">フッタ</div>
